

.parent{
    background: linear-gradient(rgba(0,0,0,.3) , rgba(0,0,0,.9) ) , url(full-shot-family-running-meadow.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.quote-btn:hover{
background-color: transparent !important;

}

.quote-btn{
    transition: all .7s;

}

.my-paragraph{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    opacity: .6;
}
.quote-h{
    font-size: 70px;
}

.my-head{
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal; 
    color: white;

}